* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #008F39;
    display: inline-block;
    font-weight: bold;
    margin: 1rem;
}

#main {
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    
}

#main .left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main .left .txt {
    width: 90%;
    height: 70%;
    background: purple;
}

#main .left .txt>textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 2rem;
    padding-left: 3rem;
}

#main .left #buttons {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

#main .left #buttons>button {
    padding: 15px 120px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid #008F39;
    cursor: pointer;
    transition: .2s ease;
}

#main .left #buttons>button:nth-child(1) {
    background-color: #008F39;
    color: #fff;
}

#main .left #buttons>button:nth-child(2) {
    color: #008F39;
    background-color: #fff;
}

#main .left #buttons>button:hover {
    opacity: .5;
}

#main .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main .right .stack {
    width: 90%;
    height: 70%;
    border: 2px solid #008F39;
}

#main .right #copiar {
    padding: 15px 120px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid #008F39;
    background-color: #008F39;
    color: #fff;
    cursor: pointer;
    transition: .2s ease;
}

#main .right .stack > p {
    text-align: left;
    margin: 2rem;
    font-size: 2rem;
}

/* Responsive */

@media ( max-width: 1000px ) {

    .logo {
        display: block;
        text-align: center;
    }

    #main {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #main .left {
        width: 100%;
        height: 70%;
    }

    #main .right {
        width: 100%;
        height: 30%;
    }
}

@media ( max-width: 680px ) { 

    #main {
        height: auto;
    }

    #main .left #buttons {
        flex-direction: column;
        gap: 2rem;
    }

    #main .left {
        min-height: 400px;
    }

    #main .right {
        margin-top: 2rem;
        min-height: 400px;
    }

    #main .right .stack{
        min-height: 400px;
    }

    #main .right #copiar {
        width: 90%;
        margin: 2rem 0;
    }
}